body {
  display: flex;
  flex-direction: column;
  background-color: #1a202c;
}

.App {
  width: 400px;
  margin-left: 35%;
}

.header {
  margin-top: 10px;
  color: ghostwhite;
}
h2,
h4,
h5,
h6 {
  color: ghostwhite;
}
.inexp_cont {
  display: flex;
  text-align: center;

  background-color: lightslategray;
  height: 80px;
  width: 400px;
}
.income_cont {
  padding-left: 50px;
  padding-top: 10px;
}
.expense_cont {
  padding-right: 50px;
  padding-top: 10px;
}
.list {
  margin-bottom: 40px;

  list-style-type: none;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.delete-btn {
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  height: 44px;
  width: 30px;
}
input[type="text"],
[type="number"] {
  background-color: white;
  width: 90%;

  border: none;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.btn {
  cursor: pointer;
  background-color: lightseagreen;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 102%;
}
.balance {
  margin-bottom: 10px;
}
.minus {
  border-right: 5px solid red;
}
.plus {
  border-right: 5px solid green;
}
@media (max-width: 320px) {
  .container {
    width: 300px;
    margin-left: 50px;
  }
}
